@model Coursework_Models.Product
@using Coursework_Utility

<div class="col-lg-4 col-md-6 pb-4 filter @Model.Category.Name.Replace(' ','_')">
    <!-- Карта товара -->
    <div class="card rounded shadow-sm" style="border:1px solid #222; background-color: #fff; /* Белый фон */ color: #333;">
        <div class="card-img-top img-fluid d-block mx-auto mb-3">
            <img class="card-img-top img-fluid d-block mx-auto mb-3" src="@WebConstants.ImagePath@Model.Image" alt="Card image cap">
        </div>
        <div class="card-body px-3 py-2">
            <h5 class="card-title text-center mb-2">@Model.Name</h5>
            <div class="row mb-2">
                <div class="col-6 text-left">
                    <span class="badge p-2 border w-100 text-dark" style="background-color: #e0f8e1; /* Светло-зеленый */">
                        @Model.Category.Name
                    </span>
                </div>
                <div class="col-6 text-right">
                    <span class="badge p-2 border w-100 text-dark" style="background-color: #d4f1e4; /* Приглушенный мятный */">
                        @Model.Manufacturer.Name
                    </span>
                </div>
            </div>
            <p class="card-text text-justify" style="font-size:13px;">@Model.ShortDesc</p>
            <div class="row">
                <div class="col-6 text-left">
                    <span class="price" style="font-size:1.2em; font-weight:bold; color: green;">@Model.Price &#8381;</span>
                </div>
                <div class="col-6 text-right">
                    <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-dark form-control btn-sm p-2" style="height:40px;">
                        Подробнее
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
